@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: #efefef;
}

::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  border-radius: 7px;
  border: 2px solid transparent;
  background-clip: content-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.main_container {
  display: block;
  position: relative;
  flex: 1 1 0%;
  overflow: hidden;
  background: rgb(255, 255, 255);
  height: 100%;
  max-width: 790px;
  margin: 0px auto;
}

.chat_list {
  position: relative;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  padding-inline: 16px;
  gap: 10px;
  overflow: auto;
  bottom: 0px;
  transition: bottom 0.25s ease-in-out 0s;
}

.message {
  max-width: 60%;
  padding: 15px;
  box-sizing: border-box;
  word-break: break-word;
  white-space: pre-wrap;
  line-height: 120%;
}

.reply-msg {
  background: rgb(241, 242, 246);
  border-radius: 16px 16px 16px 4px;
  color: rgb(60, 60, 60);
  margin: 0px auto 0px 0px;
}

.self-msg {
  background: rgb(116, 89, 254);
  border-radius: 16px 16px 4px 16px;
  color: rgb(255, 254, 253);
  margin: 0px 0px 0px auto;
}

.loading-msg{
  padding: 5px 10px;
  width: 100px;
  border-radius: 16px 16px 16px 16px;
}

.message:first-of-type {
  margin-top: auto;
}

.input-container {
  opacity: 1;
  transition: opacity 0.05s ease-in-out 0s;
  display: flex;
  padding: 10px 10px 20px;
  gap: 10px;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 6px;
}

.input-container .btn {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 100vh;
}

.input-container .send-btn {
  background: url(../assets/send.svg) center center no-repeat rgb(116, 89, 254);
}

/* .input-container .btn:disabled {
  background-color: rgb(241, 242, 246);
} */

.input-container .btn:focus-visible {
  outline: none !important;
}

.input-container .input-main {
  position: relative;
  flex: 1 1 0%;
  color: black;
  background: white;
  display: flex;
  flex-direction: column;
}

.input-container .input-field {
  display: inline-block;
  border: 1px solid rgb(192, 191, 189);
  border-radius: 20px;
  padding: 16px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  min-height: 50px;
  max-height: 100px;
  overflow: auto;
  word-break: break-word;
  white-space: pre-wrap;
}

.input-container .input-field:focus-visible {
  outline: none !important;
}

.input-container .limit {
  color: rgb(60, 60, 60);
  font-size: 12px;
  position: absolute;
  right: 8px;
  bottom: -22px;
}

.input-container .error-div {
  position: absolute;
  top: 0px;
  left: 20px;
  transform: translateY(-50%);
  max-width: 80%;
  background: rgb(255, 255, 255);
  padding: 0px 5px;
  font-size: 0.8rem;
  color: rgb(252, 85, 85);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chat_loading {
  background: transparent;
  /* margin: 0px auto; */
  outline: none;
  overflow: hidden;
  width: 70px;
  margin: 0px auto 0px 0px !important;
}



